{{!-- Accedemos y mostramos el partial navbar (el bloque que contiene la estructura de la barra de navegación) --}}
<section class="bodySection content" id="content">
    <div class="postContent" id="postContent"></div>
</section>
<aside class="bodySection sideSection">
</aside>
